#container {
    width: 1140px;
    margin: 50px auto;
}

.card {
    position: relative;
    float: left;
    width: 550px;
    height: 250px;
    margin: 20px 10px;
    border: 1px solid black ;
    background-color: white;
}

.words {
    position: absolute;
    left: 310px;
    top: 50px;
    text-align: center;
    width: 200px;
}   
